/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4f72c4;
  --ifm-color-primary-dark: #3e63b9;
  --ifm-color-primary-darker: #3b5daf;
  --ifm-color-primary-darkest: #304d90;
  --ifm-color-primary-light: #6482cb;
  --ifm-color-primary-lighter: #6e8bce;
  --ifm-color-primary-lightest: #8da3d9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

blockquote>p {
  white-space: pre-wrap;
  font-family: 'Courier New', monospace;
}


blockquote {
  font: 12px/18px normal "Courier New", sans-serif;
  padding-left: 45px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #000;
  color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 5px;
  background-image: url(/img/terminal2_32x32.gif);
  background-position: middle left;
  background-repeat: no-repeat;
}


:where(div.row) img {
  border: 1px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s ease-in-out;
  padding: 10px;
  box-shadow: 5px 5px rgba(0,0,0,.25);
  background: white;
}

:where(div.row) img:hover{
  -ms-transform: scale(1.5) rotate(360deg); /* IE 9 */
  -webkit-transform: scale(1.5) rotate(360deg); /* Safari 3-8 */
  transform: scale(1.5) rotate(360deg);
  border-width: 3px;
  border-style: solid;
  opacity: 100%;
  background: white;
  border-image: 
    linear-gradient(
      to bottom, 
      #4f72c4, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
  border-radius: 50% 50% 50% 50% / 0% 0% 5% 5% ;
  padding: 20px;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}
